<ion-header *ngIf="!hideUi" [@enterAnimation]="hideUi">
  <ion-navbar>

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title *ngIf="novel !== null">Ch{{ currentChapter }} - {{ novel.name }}</ion-title>

      <ion-buttons start>
        <button ion-button icon-only (click)='prevChapter()'>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)='nextChapter()'>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content #pageContent padding
  (swipe)="onSwipe($event)"
  [ngClass]="{'bg-black': (readerSettings.bgClass == 'bg-black'),
              'bg-white': (readerSettings.bgClass == 'bg-white'),
              'bg-grey': (readerSettings.bgClass == 'bg-grey'),
              'bg-tan': (readerSettings.bgClass == 'bg-tan')
             }"
  >

  <div class="before-novel"></div>

  <nav-btn
    [displayPrevBtn]="currentChapter != 1"
    [disable]="disableNav"
    (nextClick)="nextChapter()"
    (selClick)="presentPopoverChapter()"
    (prevClick)="prevChapter()"
  ></nav-btn>

  <div #articleBody class="article-body" (click)="hideInterface()"
    [style.fontFamily]="readerSettings.fontFamily"
    [style.fontSize]="readerSettings.fontSize"
  >
    <p *ngFor="let paragraph of paragraphs" [innerHTML]="paragraph"></p>
  </div>

  <nav-btn
    [displayPrevBtn]="currentChapter != 1"
    [disable]="disableNav"
    (nextClick)="nextChapter()"
    (selClick)="presentPopoverChapter()"
    (prevClick)="prevChapter()"
  ></nav-btn>

  <div class="after-novel"></div>

</ion-content>

<ion-footer  *ngIf="!hideUi" [@enterAnimation]="hideUi">
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
      <ion-buttons start>
        <button ion-button icon-only (click)='presentPopoverChapter()'>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)='resetDownloadedChapters()'>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)='downloadOffline()'>
          <ion-icon name="download"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-only (click)='presentPopoverRead()'>
          <ion-icon name="contrast"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
