page-reading {

  .bold {
    font-weight: bold
  }

  .hidden {
    display: none!important;
  }

  p {
    text-align: justify;
  }

  ion-content .scroll-content {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }

  .bg-black {
    background-color: map-get($colors, black);
    color: map-get($colors, white);
  }

  .bg-white {
    background-color: map-get($colors, white);
    color: map-get($colors, black);
  }

  .bg-grey {
    background-color: map-get($colors, black);
    color: map-get($colors, dim);
  }

  .bg-tan {
    background-color: map-get($colors, tan);
    color: map-get($colors, black);
  }

}

ion-item.current-ch {
  background-color: map-get($colors, secondary);
}

ion-content.menu-content {
  background-color: map-get($colors, secondary);

  button {
    background-color: map-get($colors, danger);
  }
}

.bar-button-md, .bar-button-ios {
  font-size: 1.2rem;
  text-transform: uppercase;
}