page-reading {

  .bold {
    font-weight: bold
  }

  .hidden {
    display: none!important;
  }

  p {
    text-align: justify;
  }

  ion-content .scroll-content {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
  }

  .has-refresher > .scroll-content {
      border-top: 0px solid #ddd
  }

  .bg-black {
    background-color: map-get($colors, black);
    color: map-get($colors, white);
  }

  .bg-white {
    background-color: map-get($colors, white);
    color: map-get($colors, black);
  }

  .bg-grey {
    background-color: map-get($colors, black);
    color: map-get($colors, dim);
  }

  .bg-tan {
    background-color: map-get($colors, tan);
    color: map-get($colors, black);
  }

}
