<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Bookmarks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="bKeys.length > 0">

    <ion-card *ngFor="let key of bKeys">
      <ion-card-content (click)="moreDesc[key] = !moreDesc[key]" >
        <ion-card-title>
          {{ bookmarkList[key].title }}
          </ion-card-title>
          <h2>
        <ion-row no-padding *ngFor="let m of _formatMeta(key)">
          <ion-col text-left class="label">
            {{ m[0] }}:
          </ion-col>
          <ion-col text-right class="content">
            {{ m[1] }}
          </ion-col>
        </ion-row>
      </h2>
        <!-- <p> -->
        <p [style.whiteSpace]="moreDesc[key]? '' : 'nowrap'">

          {{ bookmarkList[key].desc }}
        </p>
      </ion-card-content>

      <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-left (click)="remove(key)">
          <ion-icon name='close'></ion-icon> Remove
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left (click)="read(key)">
          <ion-icon name='musical-notes'></ion-icon> Read
        </button>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-left (click)="download(key)">
          <ion-icon name='download'></ion-icon> Download
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left (click)="rm(key)">
          <ion-icon name='md-trash'></ion-icon> Remove
        </button>
      </ion-col>
    </ion-row>

    </ion-card>
  </ion-list>

  <ion-list *ngIf="bKeys.length == 0">

    <ion-card>
      <ion-card-content>
        <ion-card-title >
          You have no bookmarks
          </ion-card-title>
        <p>
          Add your favorites novels to your bookmarks!
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
